# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.RaceTrack.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Shcool Account\source\WCTC-Net-DB-RaceCar-master\.idea\.idea.RaceTrack\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
